.img img {
  height: 500px;
  width: 30%;
  margin: 1.5%;
  transition: all 0.15s ease-in;
}

nav h1 {
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: 1.5%;
  padding: 15px 0 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
}

.img img:hover {
  transform: scale(1.03);
  cursor: pointer;
}
